<div class="label">
<label for="post_mail_address"><MT_TRANS phrase="ACKNOWLEDGER"></label>
</div>
<div class="field">
<p><input type="text" name="post_mail_address" id="post_mail_address" value="<tmpl_var name=post_mail_address escape=html>" /></p>
</div>